/*
WooCommerce styles override
 */
:root {
  --nunito: 'Nunito', sans-serif;
  --font-size: 1.6rem;
  --line-height: 2.6rem;
  --white-color: #fff;
  --black-color: #3b3939;
  --primary-color: #dc9814;
  --secondary-color: #fdf7eb;
  --tertiary-color: #fbfbfb;
  --border-color: #efefef;
  --primary-text-color: var(--black-color);
  --secondary-text-color: #b0acac;
  --heading-text-color: var(--black-color);
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs, .wc-toolbar, .woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  *zoom: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs:before, .wc-toolbar:before, .woocommerce-message:before,
.woocommerce-info:before,
.woocommerce-error:before,
.woocommerce-noreviews:before,
p.no-comments:before, .single-product div.product .woocommerce-product-gallery .flex-control-thumbs:after, .wc-toolbar:after, .woocommerce-message:after,
.woocommerce-info:after,
.woocommerce-error:after,
.woocommerce-noreviews:after,
p.no-comments:after {
  display: table;
  content: "";
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs:after, .wc-toolbar:after, .woocommerce-message:after,
.woocommerce-info:after,
.woocommerce-error:after,
.woocommerce-noreviews:after,
p.no-comments:after {
  clear: both;
}

.wc-button-actions, .woocommerce-shipping-methods, .payment_methods, .woocommerce-thankyou-order-details, .woocommerce-account .woocommerce-MyAccount-navigation ul, .site-header-cart {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.products, .single-product div.product, .cart-collaterals, form.woocommerce-checkout, .col2-set#customer_login,
.col2-set.addresses, .woocommerce-billing-fields__field-wrapper, .logged-in.woocommerce-account .entry-content .woocommerce {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  ul.products, .single-product div.product, .cart-collaterals, form.woocommerce-checkout, .col2-set#customer_login,
  .col2-set.addresses, .woocommerce-billing-fields__field-wrapper, .logged-in.woocommerce-account .entry-content .woocommerce {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/**
 * Shop tables
 */
/**
 * Shop tables
 */
table.shop_table_responsive {
  font-size: 1.5rem;
}

table.shop_table_responsive.my_account_orders {
  font-size: 1.3rem;
}

table.shop_table_responsive.my_account_orders th,
table.shop_table_responsive.my_account_orders td {
  padding: 2rem;
}

table.shop_table_responsive thead {
  display: none;
}

table.shop_table_responsive tbody th {
  display: none;
  white-space: nowrap;
}

table.shop_table_responsive tr td {
  display: block;
  text-align: right;
  clear: both;
  vertical-align: top;
}

table.shop_table_responsive tr td:before {
  content: attr(data-title);
  float: left;
}

table.shop_table_responsive tr td.product-remove {
  text-align: center;
}

table.shop_table_responsive tr td.product-remove a {
  text-align: left;
}

table.shop_table_responsive tr td.product-remove:before {
  display: none;
}

table.shop_table_responsive tr td.product-thumbnail {
  text-align: center;
}

table.shop_table_responsive tr td.product-thumbnail img {
  max-width: 7rem;
}

table.shop_table_responsive tr td.product-thumbnail::before {
  content: "";
  float: none;
}

table.shop_table_responsive tr td.product-name a {
  font-weight: 700;
  color: var(--black-color);
  font-size: 1.5rem;
}

table.shop_table_responsive tr td.actions:before, table.shop_table_responsive tr td.download-actions:before {
  display: none;
}

table.shop_table_responsive tr td.download-actions .button {
  display: block;
  text-align: center;
}

table.shop_table_responsive tr td .select2-container--default .select2-selection--single {
  text-align: left;
}

@media screen and (min-width: 48em) {
  table.shop_table_responsive thead {
    display: table-header-group;
  }
  table.shop_table_responsive tbody th {
    display: table-cell;
  }
  table.shop_table_responsive tr th, table.shop_table_responsive tr td {
    text-align: left;
  }
  table.shop_table_responsive tr td {
    display: table-cell;
  }
  table.shop_table_responsive tr td:before {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  table.shop_table_responsive tr td.product-remove {
    text-align: center;
  }
  table.shop_table_responsive tr td.product-thumbnail {
    text-align: center;
  }
}

/**
 * Products
 */
/**
 * Products
 */
ul.products {
  margin: 0;
  padding: 0;
}

ul.products li.product {
  list-style: none;
  position: relative;
  margin-bottom: 4rem;
}

ul.products li.product .woocommerce-loop-product__link {
  display: block;
  text-align: center;
}

ul.products li.product .woocommerce-loop-product__title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0;
}

ul.products li.product .price {
  color: var(--black-color);
  display: block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

ul.products li.product .price del {
  padding-right: .5rem;
}

ul.products li.product .price ins {
  text-decoration: none;
}

ul.products li.product img {
  display: block;
}

ul.products li.product .wc-product-details .added_to_cart {
  color: var(--black-color);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-left: .5rem;
}

ul.products li.product .wc-product-details .added_to_cart:hover {
  color: var(--primary-color);
}

@media screen and (min-width: 48em) {
  ul.products li.product {
    flex: 0 0 30.7966666667%;
    margin-right: 3.8%;
  }
  ul.products li.product.first {
    clear: both;
  }
  ul.products li.product.last {
    margin-right: 0;
  }
  .columns-1 ul.products li.product {
    float: none;
    width: 100%;
  }
  ul.products.columns-1 li.product {
    float: none;
    width: 100%;
  }
  .columns-2 ul.products li.product {
    flex: 0 0 48.1%;
  }
  .columns-3 ul.products li.product {
    flex: 0 0 30.7966666667%;
  }
  .columns-4 ul.products li.product {
    flex: 0 0 22.15%;
  }
  .columns-5 ul.products li.product {
    flex: 0 0 16.96%;
  }
  .columns-6 ul.products li.product {
    flex: 0 0 13.4933333333%;
  }
  ul.products.columns-2 li.product {
    flex: 0 0 48.1%;
  }
  ul.products.columns-3 li.product {
    flex: 0 0 30.7966666667%;
  }
  ul.products.columns-4 li.product {
    flex: 0 0 22.15%;
  }
  ul.products.columns-5 li.product {
    flex: 0 0 16.96%;
  }
  ul.products.columns-6 li.product {
    flex: 0 0 13.4933333333%;
  }
}

/**
 * On sale badge
 */
.onsale {
  position: absolute;
  z-index: 9;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 5px;
  line-height: 2rem;
  text-align: center;
  background-color: #f26767;
  color: var(--white-color);
  top: 2rem;
  left: 2rem;
  border-radius: 50%;
  min-width: 4.2rem;
  height: 4.2rem;
  text-transform: uppercase;
}

/**
 * Image area
 */
.wc-product-image {
  position: relative;
}

.wc-product-image:hover .wc-button-actions {
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
}

.wc-product-image .wc-button-actions {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  z-index: 9;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
  text-align: center;
}

/**
 * Image swap
 */
.wc-product-thumbnail {
  position: relative;
  overflow: hidden;
}

.wc-product-thumbnail img {
  width: 100%;
  overflow: hidden;
  transition: opacity 0.25s ease-in-out;
}

.wc-product-thumbnail .wc-product-image-main {
  position: relative;
  z-index: 2;
}

.wc-product-thumbnail .wc-product-image-secondary {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  z-index: 1;
}

.wc-product-image:hover .thumbnail-swap .wc-product-image-main {
  opacity: 0;
}

.wc-product-image:hover .thumbnail-swap .wc-product-image-secondary {
  opacity: 1;
}

.wc-button-actions li {
  display: inline-block;
  margin-right: .6rem;
}

.wc-button-actions li i {
  display: inline-block;
  font-size: 14px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: var(--white-color);
  color: var(--black-color);
  margin: 0;
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.wc-button-actions li i:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/**
 * Single product
 */
/**
 * Single Product
 */
.single-product div.product {
  position: relative;
  margin-bottom: 0;
}

.single-product div.product .woocommerce-product-gallery {
  position: relative;
  margin-bottom: 3rem;
}

@media (min-width: 992px) {
  .single-product div.product .woocommerce-product-gallery {
    flex: 0 0 48.7179487179%;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .single-product div.product .woocommerce-product-gallery {
    margin-right: 2.5641025641%;
  }
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 1em;
  right: 1em;
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  z-index: 2;
  text-align: center;
  color: var(--black-color);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.02);
  visibility: hidden;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
  background-color: var(--secondary-color);
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger::before {
  content: '\e808';
  background-color: var(--white-color);
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 3.5rem;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: .2rem;
  visibility: visible;
  width: 3.5rem;
  border-radius: 50%;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger img {
  display: none !important;
}

.single-product div.product .woocommerce-product-gallery figure {
  margin: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) {
  .single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
  list-style: none;
  cursor: pointer;
  float: left;
  padding: 0 .3rem;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:first-child {
  padding-left: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
  opacity: .5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
  opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
  opacity: 1;
}

@media (min-width: 992px) {
  .single-product div.product .summary {
    flex: 0 0 48.7179487179%;
    padding-left: 2.5641025641%;
  }
}

.single-product div.product .summary .product_title {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.single-product div.product .summary .price ins {
  text-decoration: none;
}

.single-product div.product .summary .star-rating {
  vertical-align: middle;
  margin-right: .5rem;
}

.single-product div.product .summary .woocommerce-review-link {
  font-size: 1.2rem;
  color: var(--black-color);
  font-style: italic;
}

.single-product div.product .summary .woocommerce-product-details__short-description {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.single-product div.product .summary .cart {
  border-bottom: 0.1rem solid var(--border-color);
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.single-product div.product .summary .cart .quantity {
  display: inline-block;
}

.single-product div.product .summary .cart .wc-button-actions {
  display: none;
}

@media (min-width: 576px) {
  .single-product div.product .summary .cart .wc-button-actions {
    display: inline-block;
    float: right;
  }
}

.single-product div.product .summary .cart .wc-quick-view {
  display: none;
}

.single-product div.product .summary .cart .variations select {
  width: 100%;
}

.single-product div.product .summary .cart .reset_variations {
  color: var(--black-color);
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.single-product div.product .summary .cart .woocommerce-grouped-product-list .woocommerce-grouped-product-list-item__label {
  line-height: 1.8rem;
}

.single-product div.product .summary .cart .woocommerce-grouped-product-list .woocommerce-grouped-product-list-item__label a {
  color: var(--black-color);
  font-weight: 700;
  font-size: 1.2rem;
}

.single-product div.product .summary .cart .woocommerce-variation {
  margin-bottom: 2rem;
}

.single-product div.product .summary > .yith-wcwl-add-to-wishlist {
  display: none;
}

.single-product div.product .summary .product_meta {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.single-product div.product .summary .product_meta > span {
  display: block;
}

.single-product div.product .summary .product_meta a {
  color: var(--black-color);
  font-weight: 700;
}

.single-product div.product .summary .product_meta a:hover {
  color: var(--primary-color);
}

.single-product div.product .upsells > h2,
.single-product div.product .related > h2 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.single-product div.product .upsells {
  margin-bottom: 0;
}

.single-product.full-width-narrow div.product .woocommerce-product-gallery {
  margin-right: 0;
}

.full-width .product .upsells, .full-width
.product .related {
  flex: 0 0 74.358974359%;
  padding-right: 3rem;
  margin: auto;
}

.stock:empty:before {
  display: none;
}

.stock.in-stock {
  color: #0f834d;
}

.stock.out-of-stock {
  color: #f26767;
}

/**
 * Cart
 */
.woocommerce-cart .entry-header {
  display: none;
}

.woocommerce-cart-form {
  margin-bottom: 6rem;
}

.woocommerce-cart-form .coupon {
  display: block;
  border-bottom: 0.1rem solid var(--border-color);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

@media (min-width: 576px) {
  .woocommerce-cart-form .coupon {
    display: inline-block;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.woocommerce-cart-form .coupon label {
  display: none;
}

.woocommerce-cart-form .coupon .input-text {
  margin-right: 1rem;
  height: 3.8rem;
  font-size: 1.3rem;
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .woocommerce-cart-form .coupon .input-text {
    margin-bottom: 0;
    width: auto;
  }
}

.woocommerce-cart-form .actions > .button {
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .woocommerce-cart-form .actions > .button {
    margin-bottom: 0;
  }
}

.woocommerce-cart-form .button {
  float: right;
}

.cart-collaterals .cross-sells > h2,
.cart-collaterals .cart_totals > h2 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

.cart-collaterals .cross-sells {
  flex: 0 0 48.7179487179%;
  margin-right: 2.5641025641%;
  padding-right: 2.5641025641%;
}

.cart-collaterals .cart_totals {
  flex: 0 0 48.7179487179%;
}

.cart-collaterals .cart_totals input:not([type="radio"]) {
  width: 100%;
}

.cart-collaterals .cart_totals input[type="radio"] {
  margin-right: 1rem;
}

.woocommerce-shipping-methods {
  margin-bottom: 1rem;
}

.woocommerce-shipping-methods .shipping_method {
  width: auto;
  margin-right: 1rem;
}

.wc-proceed-to-checkout {
  text-align: right;
}

.woocommerce .wc-proceed-to-checkout .button {
  font-size: 1.4rem;
  padding: 1.4rem 2.4rem;
}

/**
 * Checkout
 */
.woocommerce-checkout .entry-header {
  display: none;
}

.woocommerce-checkout .woocommerce-form-login,
.woocommerce-checkout .woocommerce-form-coupon {
  width: 45%;
}

@media (min-width: 768px) {
  form.woocommerce-checkout #customer_details,
  form.woocommerce-checkout .review-order-wrapper {
    flex: 0 0 48.7179487179%;
  }
}

form.woocommerce-checkout #customer_details h3,
form.woocommerce-checkout .review-order-wrapper h3 {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  form.woocommerce-checkout #customer_details {
    margin-right: 2.5641025641%;
  }
}

@media (min-width: 768px) {
  form.woocommerce-checkout .review-order-wrapper {
    padding-left: 3rem;
  }
}

form.woocommerce-checkout #ship-to-different-address span {
  font-size: 1.5rem;
}

form.woocommerce-checkout #ship-to-different-address .input-checkbox {
  margin-right: .5rem;
}

@media (min-width: 768px) {
  .col2-set .form-row-first {
    float: left;
    margin-right: 3.8%;
  }
  .col2-set .form-row-last {
    float: right;
    margin-right: 0;
  }
  .col2-set .form-row-first,
  .col2-set .form-row-last {
    flex: 0 0 48.1%;
  }
}

.col2-set#customer_login,
.col2-set.addresses {
  justify-content: space-between;
  width: 100%;
}

.col2-set#customer_login .col-1,
.col2-set#customer_login .col-2,
.col2-set.addresses .col-1,
.col2-set.addresses .col-2 {
  flex: 0 0 48.7179487179%;
}

.form-row {
  margin-bottom: 2rem;
}

.form-row em {
  font-size: 1.4rem;
}

.form-row label {
  display: block;
}

.form-row input,
.form-row textarea,
.form-row select {
  width: 100%;
}

.form-row input[type=checkbox],
.form-row input[type=radio] {
  width: auto;
}

.form-row-wide {
  clear: both;
  width: 100%;
}

.woocommerce-shipping-methods input[type="radio"] {
  margin-right: 1rem;
}

.payment_methods {
  margin-bottom: 3rem;
}

.payment_methods li {
  padding: .5rem 0;
}

.payment_methods li.payment_method_paypal img {
  display: none;
}

.payment_methods li .payment_method_bacs {
  margin-top: 1rem;
}

.payment_methods li p {
  margin-bottom: 0;
}

.payment_methods li .input-radio {
  margin-right: 1rem;
}

.payment_methods li label {
  font-size: 1.5rem;
  font-weight: 700;
}

.woocommerce .place-order .button {
  font-size: 1.6rem;
  padding: 1.6rem 4.6rem;
}

.woocommerce-order-received .entry-content .woocommerce-order {
  width: 65.811965812%;
  margin: auto;
}

.woocommerce-order-received .entry-content .woocommerce-order h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.woocommerce-order-received .entry-content .woocommerce-order-details {
  margin-bottom: 6rem;
}

.woocommerce-thankyou-order-details {
  position: relative;
  background-color: var(--secondary-color);
  margin-bottom: 6rem;
}

.woocommerce-thankyou-order-details > li {
  border-bottom: 1px dotted var(--secondary-color);
}

.woocommerce-thankyou-order-details li {
  font-size: 1.2rem;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
}

.woocommerce-thankyou-order-details li strong {
  display: block;
  font-size: 1.6rem;
  text-transform: none;
}

/**
 * Account
 */
.woocommerce-account.right-sidebar .content-area {
  padding: 0;
}

.woocommerce-account .page-title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  margin-bottom: 6rem;
}

@media (min-width: 768px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    flex: 0 0 23.0769230769%;
    margin-bottom: 0;
  }
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  border-top: 0.1rem solid var(--border-color);
}

.woocommerce-account .woocommerce-MyAccount-navigation li {
  border-bottom: 0.1rem solid var(--border-color);
  position: relative;
}

.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
  color: var(--primary-color);
}

.woocommerce-account .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--dashboard a::before {
  content: "\f0e4";
}

.woocommerce-account .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--orders a::before {
  content: "\f290";
}

.woocommerce-account .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--downloads a::before {
  content: "\e817";
}

.woocommerce-account .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--edit-address a::before {
  content: "\f2b9";
}

.woocommerce-account .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--edit-account a::before {
  content: "\f2bd";
}

.woocommerce-account .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--customer-logout a::before {
  content: "\e815";
}

.woocommerce-account .woocommerce-MyAccount-navigation a {
  padding: 1.4rem 0;
  display: block;
  color: var(--black-color);
}

.woocommerce-account .woocommerce-MyAccount-navigation a:hover {
  color: var(--primary-color);
}

.woocommerce-account .woocommerce-MyAccount-navigation a::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: right;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
}

@media (min-width: 768px) {
  .woocommerce-account .woocommerce-MyAccount-content {
    flex: 0 0 74.358974359%;
    padding-left: 5.9829059829%;
  }
}

.woocommerce-account .woocommerce-form {
  max-width: 500px;
  margin-top: 4rem;
}

.woocommerce-account .woocommerce-form .button {
  font-size: 1.4rem;
}

/**
 * General WooCommerce components
 */
/**
 * Header cart
 */
.site-header-cart {
  position: relative;
  margin-right: 1rem;
  text-align: left;
}

.site-header-cart .cart-contents {
  text-decoration: none;
  color: var(--black-color);
  line-height: 3.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.site-header-cart .cart-contents .count {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 50%;
}

.site-header-cart .cart-contents i {
  font-size: 1.8rem;
}

.site-header-cart .widget_shopping_cart {
  display: none;
  margin-bottom: 0;
}

.site-header-cart .widget_shopping_cart .total {
  margin-bottom: 1.5rem;
}

.site-header-cart .widget_shopping_cart .total .amount {
  float: right;
}

.site-header-cart .widget_shopping_cart .woocommerce-mini-cart__empty-message {
  margin-bottom: 0;
}

.site-header-cart .product_list_widget {
  margin-bottom: 2rem;
}

.site-header-cart .product_list_widget li {
  border-bottom: 0.1rem solid var(--border-color);
  padding: 2rem 0;
}

.site-header-cart .woocommerce-mini-cart__buttons {
  margin-bottom: 0;
}

.site-header-cart .woocommerce-mini-cart__buttons a {
  font-size: 1.2rem;
  padding: 1.2rem 2.6rem;
  margin-right: 1rem;
}

.site-header-cart .woocommerce-mini-cart__buttons a.checkout {
  margin-right: 0;
  background-color: var(--black-color);
  color: var(--white-color);
}

.site-header-cart .woocommerce-mini-cart__buttons a.checkout:hover {
  background-color: transparent;
  color: var(--black-color);
}

@media screen and (min-width: 48em) {
  /**
	 * Header cart
	 */
  .site-header-cart .widget_shopping_cart {
    position: absolute;
    top: 100%;
    right: 0;
    width: 30rem;
    display: block;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    padding: 2rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(2rem);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  .site-header-cart:hover .widget_shopping_cart, .site-header-cart.focus .widget_shopping_cart {
    visibility: visible;
    opacity: 1;
    z-index: 9;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
}

/**
 * My account url
 */
.wc-account-link {
  position: relative;
  margin-right: 1rem;
  display: inline-block;
}

.wc-account-link::after {
  content: "";
  border-right: 0.1rem solid var(--border-color);
  width: .1rem;
  height: 1.2rem;
  padding-left: 1rem;
}

.wc-account-link a {
  color: var(--black-color);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

/**
 * Button
 */
.woocommerce .selectric .button {
  padding: 0;
}

.woocommerce .button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.woocommerce .button:visited {
  color: var(--black-color);
}

.woocommerce .button:visited:hover {
  color: var(--white-color);
}

.woocommerce .button:active {
  background-color: var(--black-color);
  color: var(--white-color);
}

.woocommerce .button:focus {
  color: var(--white-color);
}

/**
 * Toolbar
 */
.wc-toolbar {
  margin-bottom: 5rem;
}

.wc-toolbar-left {
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .wc-toolbar-left {
    float: left;
    padding-top: 1rem;
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .wc-toolbar-right {
    float: right;
  }
}

/**
 * Result count & product per page
 */
.woocommerce-result-count,
.wc-products-per-page {
  font-size: 1.4rem;
  margin-bottom: 0;
  display: inline-block;
}

@media (max-width: 992px) {
  .woocommerce-result-count {
    display: none;
  }
}

@media (min-width: 992px) {
  .wc-products-per-page {
    margin-left: 3rem;
  }
}

.wc-products-per-page .view-title {
  opacity: .5;
}

.wc-products-per-page a {
  color: var(--black-color);
  margin: 0 .3rem;
  opacity: .5;
}

.wc-products-per-page a:hover {
  color: var(--black-color);
  opacity: 1;
}

.wc-products-per-page a.active {
  border-bottom: 0.1rem solid var(--black-color);
  opacity: 1;
}

/**
 * Star rating
 */
.star-rating {
  overflow: hidden;
  position: relative;
  height: 1.618em;
  line-height: 1.618;
  font-size: .7em;
  width: 5.3em;
  font-family: 'star';
  font-weight: 400;
  display: inline-block;
}

.wc-product-details .star-rating {
  margin: 0 auto .6rem;
}

.star-rating:before {
  content: "\53\53\53\53\53";
  opacity: .25;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}

.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.star-rating span:before {
  content: "\53\53\53\53\53";
  top: 0;
  position: absolute;
  left: 0;
  color: #f5b223;
}

p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  margin-right: 1px;
  font-weight: 400;
}

p.stars a:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: "star";
  content: "\53";
  text-indent: 0;
  opacity: .25;
}

p.stars a:hover ~ a:before {
  content: "\53";
  opacity: .25;
}

p.stars:hover a:before {
  content: "\53";
  color: #f5b223;
  opacity: 1;
}

p.stars.selected a.active:before {
  content: "\53";
  color: #f5b223;
  opacity: 1;
}

p.stars.selected a.active ~ a:before {
  content: "\53";
  opacity: .25;
}

p.stars.selected a:not(.active):before {
  content: "\53";
  color: #f5b223;
  opacity: 1;
}

/**
 * Quantity
 */
.quantity {
  margin-right: 1rem;
}

.quantity .qty {
  height: 4rem;
  width: 6rem;
  padding: 1rem;
  line-height: 5rem;
  text-align: center;
  vertical-align: middle;
}

/**
 * Tabs
 */
.woocommerce-tabs {
  clear: both;
  padding: 4rem 0 0;
  flex: 0 0 100%;
}

.full-width .woocommerce-tabs {
  flex: 0 0 74.358974359%;
  padding-right: 3rem;
  margin: auto;
}

.woocommerce-tabs ul.tabs {
  list-style: none;
  margin: 0 0 3rem;
  padding: 0;
  text-align: left;
}

.woocommerce-tabs ul.tabs li {
  display: inline-block;
  margin: 0;
  position: relative;
}

.woocommerce-tabs ul.tabs li.active a {
  background-color: var(--tertiary-color);
  border-color: var(--border-color);
  border-radius: .3rem;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.02);
}

.woocommerce-tabs ul.tabs li a {
  font-weight: 700;
  display: block;
  color: var(--black-color);
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border: .1rem solid transparent;
}

.woocommerce-tabs .woocommerce-Tabs-panel--description.panel h2:first-of-type {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.woocommerce-tabs .panel h2:first-of-type {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.woocommerce-tabs .panel .commentlist {
  margin-top: 4rem;
}

.woocommerce-tabs .panel #reviews #comments {
  margin-top: 0;
  overflow: hidden;
}

.woocommerce-tabs .panel #reviews #comments .add_review:after {
  content: '';
  display: block;
  clear: both;
}

.woocommerce-tabs .panel #reviews .comment-form-rating {
  clear: both;
}

.woocommerce-tabs .panel #reviews .star-rating, .woocommerce-tabs .panel #reviews p.meta {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.woocommerce-tabs .panel #reviews .star-rating {
  float: right;
}

.woocommerce-tabs .panel #reviews .description {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.woocommerce-tabs #review_form #respond .comment-reply-title {
  margin-bottom: 2rem;
  display: inline-block;
}

.woocommerce-tabs #review_form #respond .selectric-wrapper {
  display: none;
}

@media (min-width: 576px) {
  .woocommerce-tabs #review_form #respond .comment-form-author, .woocommerce-tabs #review_form #respond .comment-form-email {
    width: 48.7179487179%;
  }
}

.woocommerce-tabs #review_form #respond .comment-form-email {
  margin-right: 0;
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
  text-align: right;
}

.woocommerce-password-strength.strong {
  color: #0f834d;
}

.woocommerce-password-strength.short {
  color: #f26767;
}

.woocommerce-password-strength.bad {
  color: #f26767;
}

.woocommerce-password-strength.good {
  color: #3d9cd2;
}

/**
 * Forms
 */
.form-row.woocommerce-validated input.input-text {
  box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
  box-shadow: inset 2px 0 0 #f26767;
}

.required {
  color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  background-color: #0f834d;
  clear: both;
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: .3rem;
  margin-bottom: 4rem;
  line-height: 3.6rem;
}

.woocommerce-message .button,
.woocommerce-info .button,
.woocommerce-error .button,
.woocommerce-noreviews .button,
p.no-comments .button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: var(--white-color);
  border-color: var(--white-color);
  float: right;
}

.woocommerce-message .button:hover,
.woocommerce-info .button:hover,
.woocommerce-error .button:hover,
.woocommerce-noreviews .button:hover,
p.no-comments .button:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}

.woocommerce-message .button:visited,
.woocommerce-info .button:visited,
.woocommerce-error .button:visited,
.woocommerce-noreviews .button:visited,
p.no-comments .button:visited {
  color: var(--white-color);
}

.woocommerce-message .button:visited:hover,
.woocommerce-info .button:visited:hover,
.woocommerce-error .button:visited:hover,
.woocommerce-noreviews .button:visited:hover,
p.no-comments .button:visited:hover {
  color: var(--black-color);
}

.woocommerce-message a,
.woocommerce-info a,
.woocommerce-error a,
.woocommerce-noreviews a,
p.no-comments a {
  color: var(--white-color);
  font-weight: 700;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
  background-color: #3d9cd2;
}

.woocommerce-error {
  background-color: #f26767;
}

/**
 * Pagination
 */
.woocommerce-pagination ul.page-numbers {
  list-style: none;
  text-align: center;
}

.woocommerce-pagination ul.page-numbers li {
  display: inline-block;
}

.woocommerce-pagination ul.page-numbers li:last-child a {
  margin: 0;
}

.woocommerce-pagination ul.page-numbers a, .woocommerce-pagination ul.page-numbers span {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  margin: 0 .8rem 0 0;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  white-space: nowrap;
  border: 0.1rem solid var(--secondary-color);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.02);
  border-radius: .3rem;
  transition: all .3s ease-in-out;
  background-color: var(--white-color);
  color: var(--black-color);
}

.woocommerce-pagination ul.page-numbers a span {
  padding: 0;
}

.woocommerce-pagination ul.page-numbers a i {
  padding: 0;
}

.woocommerce-pagination ul.page-numbers a:hover, .woocommerce-pagination ul.page-numbers .page-numbers.current,
.woocommerce-pagination ul.page-numbers .page-numbers.current:hover {
  background: var(--secondary-color);
}

.demo_store {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 1em;
  background-color: #3d9cd2;
  z-index: 9999;
}

/**
 * YITH Woocommerce Wishlist
 */
.yith-wcwl-add-to-wishlist {
  margin-top: 0;
  position: relative;
}

.yith-wcwl-add-to-wishlist .ajax-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -9px;
  width: 18px !important;
  height: 18px !important;
  z-index: 100;
}

.woocommerce .wc-loader {
  position: relative;
  width: 100%;
  height: 100%;
}

.woocommerce .wc-loader::before {
  content: '';
  height: 1em;
  width: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -.5em;
  margin-top: -.5em;
  display: block;
  background: url("../../plugins/woocommerce/assets/images/icons/loader.svg") center center;
  background-size: cover;
  line-height: 1;
  text-align: center;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.75);
  animation: spin 1s ease-in-out infinite;
}

.woocommerce .wc-loader .wc-path {
  stroke-dasharray: 2, 200;
  stroke-dashoffset: 2;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  fill: none;
  stroke: #fff;
  stroke-width: 10;
}

.woocommerce .single-product .loader .path {
  stroke: #ddd;
}

.woocommerce .product-wrap:hover .loader {
  animation: loader-rotate 2s ease-in-out infinite;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes loader-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes loader-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes loader-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@-ms-keyframes loader-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@-moz-keyframes loader-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@-o-keyframes loader-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

/**
 * Woo Smart Compare
 */
.wooscp-btn.wooscp-btn-added::before {
  content: "";
  margin: 0;
}

.wooscp-btn.wooscp-btn-added .fa-compress::before {
  content: "\f00c";
}

/**
 * Woo Quick View
 */
#woosq-popup .single-product .product {
  background-color: var(--white-color);
}

#woosq-popup .single-product .product .summary {
  background-color: var(--white-color);
}

#woosq-popup .mfp-close {
  background: transparent;
}

/**
 * Hide edit link
 */
.woocommerce-page .entry .entry-footer {
  display: none;
}

/**
 * Custom select 2 style
 */
.select2-dropdown {
  border-color: var(--border-color);
}

.select2-container--default .select2-selection--single {
  height: 4.8rem;
  padding: 1rem 1.5rem;
  border-radius: .3rem;
  border: 0.1rem solid var(--border-color);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.02);
  font-size: 1.4rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 4.8rem;
  right: 1.2rem;
}

/**
 * Categories shortcode
 */
ul.products .product-category .woocommerce-loop-category__title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
}

ul.products .product-category .woocommerce-loop-category__title mark {
  background-color: transparent;
}

/**
 * WooCommerce widgets
 */
/**
 * WooCommerce Price Filter
 */
.widget_price_filter .price_slider {
  margin-bottom: 1.5em;
}

.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4em;
}

.widget_price_filter .price_slider_amount .button {
  float: left;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  cursor: ew-resize;
  outline: none;
  background: var(--primary-color);
  box-sizing: border-box;
  margin-top: -.25em;
  opacity: 1;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
  box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  border: 0;
  background: var(--secondary-color);
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
  height: .5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  height: 100%;
}

/**
 * WooCommerce Product Search
 */
.widget_product_search form {
  display: inline-block;
  width: 100%;
  position: relative;
}

.widget_product_search form input[type="search"] {
  padding-right: 3.8rem;
  width: 100%;
}

.widget_product_search form button {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 4.8rem;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  color: var(--black-color);
  font-size: 0;
  min-width: 3.8rem;
  padding: 0;
  margin: 0;
  min-height: 4.8rem;
  border: none;
}

.widget_product_search form button::before {
  content: '\e808';
  font-size: 1.6rem;
}

.widget_product_search form button:hover {
  color: var(--primary-color);
}

/**
 * Widget list:
 * - Category
 * - Filters
 */
.widget_product_categories ul li,
.widget_layered_nav ul li,
.widget_layered_nav_filters ul li {
  padding-bottom: 0;
}

.widget_product_categories ul li a:not(.button),
.widget_layered_nav ul li a:not(.button),
.widget_layered_nav_filters ul li a:not(.button) {
  font-weight: 700;
  text-decoration: underline;
}

.widget_product_categories ul li::before,
.widget_layered_nav ul li::before,
.widget_layered_nav_filters ul li::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  content: "\f0c8";
}

.widget_product_categories ul li .count,
.widget_layered_nav ul li .count,
.widget_layered_nav_filters ul li .count {
  font-size: 1em;
  float: right;
}

.widget_product_categories .current-cat::before {
  content: "\f14a";
}

.widget_layered_nav .chosen::before {
  content: "\f14a";
}

.widget_layered_nav_filters .chosen::before {
  content: "\e80d";
  color: #f26767;
}

.widget_product_categories .children {
  padding-left: 2rem;
}

/**
 * Widget rating
 */
.widget_rating_filter .wc-layered-nav-rating {
  margin-bottom: 1rem;
}

.widget_rating_filter .wc-layered-nav-rating .star-rating {
  display: inline-block;
  height: 1em;
  line-height: 1;
  margin-right: .5rem;
}

/**
 * Product list
 */
.product_list_widget {
  position: relative;
  display: block;
  margin: 0;
}

.product_list_widget li {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1.5rem 0;
}

.product_list_widget li:first-child {
  padding-top: 0;
}

.product_list_widget li img {
  float: left;
  max-width: 8rem;
  padding-right: 1.5rem;
}

.product_list_widget li a {
  font-size: 1.4rem;
  display: block;
  line-height: 1.6rem;
  margin-bottom: .6rem;
}

.product_list_widget li a .product-title {
  font-weight: 700;
}

.product_list_widget li a.remove {
  display: inline-block;
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
  right: 0;
  font-size: 1.4rem;
  color: #fff;
  height: 1.4rem;
  width: 1.4rem;
  line-height: 1.2rem;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
  background-color: #f26767;
  margin: 0 0 -1rem;
}

.product_list_widget li ins {
  text-decoration: none;
}

.product_list_widget li.empty {
  float: none;
  margin: 0;
  border: none;
  padding: 0;
  min-height: inherit;
}

/*# sourceMappingURL=woocommerce.css.map */